<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>categorylist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Categories</h1>

	<div th:each = "category : ${categories}">
		<ul th:text = "${category.name}"></ul>
	</div>		
	<a href="/addcategory"><button class="btn btn-success">Add a category</button></a>
	<br></br>
    <a href="/booklist"><button class="btn btn-success">View Books</button></a>
</body>
</html>